NODE_ENV=development
PORT=3011
BASE_URL=http://localhost:3011
# Production: https://api.useaifast.com
PUBLIC_BILL_BASE_URL=http://localhost:3000
# Production: https://bolobill.useaifast.com
MONGODB_URI=mongodb://127.0.0.1:27017/bolobill
JWT_SECRET=change_this_super_secret
OPENAI_API_KEY=your_openai_api_key_here
ALLOW_X_USER_ID_AUTH=false
